.drivers {
  display: flex;
}
.mainBody {
  height: auto;
}
.driver-list {
  height: 100%;
  box-shadow: -8px 0 8px -8px #d8d8d8;
  flex: 0 0 30%;
  background: #fff;
}
/* 1a1f30 */
.driver-display {
  flex: 0 0 70%;
  overflow-y: scroll;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.driver-display article {
  margin: 10px;
  background: #fff;
  padding: 10px;
  flex: 0 0 45%;
  display: block;
  border-radius: 4px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
}

.driver-display div.vehicleDetail {
  flex: 0 0 45%;
  background: #fff;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  display: flex;
}
.vehicleCount {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 0 5px -5px #f1f1f1;
}
.vehicleDet {
  flex: 0 0 80%;
  justify-content: center;
  display: flex;
}
.vehicleCountIcon {
  width: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-top-left-radius: 4px;
  background: #01e296;
  color: #fff;
  font-size: 1.5vw;
  position: relative;
}
.vehicleCountIcon::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 50px solid #01e296;
  position: absolute;
  border-right: 5.05vw solid transparent;
  bottom: -50px;
  display: block;
}
.actualCount {
  width: 100%;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom-left-radius: 4px;
  text-align: center;
  background: #fff;
  font-size: 3vw;
}
.actualCount p {
  font-size: 10px;
}
.det {
  padding: 10px 20px !important;
  box-shadow: none !important;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 0px !important;
}
.det:last-child {
  border-bottom: none;
}
.driver-display article span {
  width: 70px;
  height: 70px;
  background: #f1f1f1;
  border-radius: 50%;
  border: none;
  display: block;
  margin: auto;
}
.divider {
  border-bottom: 1px solid #f1f1f1;
  width: 85%;
  margin: 10px auto;
}

.driver-display article p {
  padding: 10px;
  font-size: 12px;
}

.single-list {
  font-size: 12px;
  color: #495057;
  padding: 10px 30px;
  cursor: pointer;
  transition: all linear 0.2s;
  display: block;
  text-decoration: none;
  display: flex;
}
.list-image {
  width: 40px;
  height: 40px;
  border: 1px solid #f1f1f1;
  border-radius: 50%;
  background: #f1f1f1;
  border: none;
}
.single-list:hover {
  color: #000;
  font-weight: bold;
  transition: all linear 0.2s;
  box-shadow: 0 0 14px #f1f1f1;
  border: 1px solid #f1f1f1;
}
.single-list span {
  clear: both;
  display: block;
  padding: 5px;
  text-decoration: none;
}
.single-list span i {
  color: #01e296;
}
.list-head {
  padding: 20px;
  border-bottom: 1px solid #f1f1f1;
}
