.trips-table {
  background: #fff;
  width: 95%;
  padding: 5px;
  margin: 10px auto;
  border-radius: 4px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  font-size: 12px;
}
.trips-table p {
  padding: 20px 40px;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #f1f1f1;
}
.trips-table table {
  background: #fff;
  width: 95%;
  padding: 5px;
  margin: 20px auto;
  border-radius: 4px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
    0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
    0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  font-size: 12px;
}
.table-title {
  padding: 10px;
  width: 100%;
  font-size: 14px;
  text-align: left;
  font-weight: bold;
}
.trips-table thead {
  display: block;
}
.trips-table tbody {
  height: 300px;
  overflow-y: scroll;
  display: block;
}
.trips-table thead tr {
  width: 100%;
}
.trips-table tbody tr {
  width: 100%;
}
.trips-table thead th {
  border-right: 1px solid #f1f1f1;
  padding: 20px 10px;
  font-weight: lighter !important;
  border-bottom: 1px solid #f1f1f1;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 2;
  width: 10%;
}

.trips-table thead th:last-child {
  border: none;
}
.trips-table tbody td {
  padding: 20px 10px;
  font-weight: lighter !important;
  text-align: center;
  width: 5%;
}
.trips-table tbody td a {
  background: #01e296;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  box-shadow: 0 0 4px #ccc;
}
