.mainNav {
  flex: 0 0 20%;
  height: 100%;
  background: #fff;
}
.mainNav p {
  font-weight: bolder;
  font-size: 13px;
  color: #03bb7d;
  margin-bottom: 10px;
  border-bottom: 1px solid #f1f1f1;
  padding: 10px 20px;
}

.mainNav ul {
  font-size: 14px;
}
.mainNav ul a {
  color: #495057;
  text-decoration: none;
  font-weight: bold;
}
.mainNav ul a li {
  padding: 10px 30px;
}
