.awards-slate {
  flex: 0 0 50%;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.child {
  display: inline-block;
  border-bottom: 1px solid #f1f1f1;
  padding: 0;
}
.child:first-child {
  width: 90%;
  height: 30px;
  margin: auto;
}
.child:not(:first-child) {
  flex: 1;
}
.badge img {
  width: 200px;
  height: 200px;
}
.award-details {
  border-bottom: none;
  font-size: 12px;
  border-bottom: 1px solid #f1f1f1;
}
.award-details p {
  padding: 10px;
}
.award-details i {
  padding: 10px;
  color: #ffb909;
  font-weight: bold;
}
.driver-details {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  width: 80%;
  margin: 10px auto;
}
